
/* HEADER *************************/
#header{width:100%;padding:1rem 1rem;box-sizing:border-box;background-color:transparent;position:absolute;z-index:10000}
#header .container{position: relative;display:flex;justify-content: space-between;max-width: 80vw;margin: auto;}
#header .container .cta-nome,#header .container .cta-numero{color:var(--dark);text-decoration: underline;text-transform: uppercase;letter-spacing: 4px;font-size: clamp(.5rem,2.5vw,.8rem)}
@media (max-width:768px){
   #header .container{justify-content:center;max-width:100%}
   #header .container .cta-numero{display:none}
   #header .container .cta-nome{text-align: center}
}

/* HERO ***************************/
#hero .container{display:flex;flex-direction:row;height:100%;justify-content:end;align-items:end;position:relative}
#hero .text{max-width:540px;margin:0 0 1.5rem;color: var(--white)}
#hero .list{list-style:none;padding:0 1rem;margin:0;font-family:'Poppins',sans-serif;letter-spacing:1px}
#hero .list li{position:relative;padding-left:42px;margin-bottom:18px;font-size:1rem;line-height:1.5;color:var(--white)}
#hero .list li::before{content:"";position:absolute;left:0;top:2px;width:20px;height:20px;background-image:url(../images/check.png);background-repeat:no-repeat;background-position:center;background-size:contain}
@media (max-width:79.9rem){
#hero{position:relative;overflow:hidden;background-color:var(--white)}
#hero::before{position:absolute;z-index:0;inset:0;content:"";background-image:url(../images/bg-pattern02.png);background-size:cover;
   background-position:bottom left;background-repeat:repeat;}
#hero .container{padding:3rem 1rem 2.5rem}
#hero .figure{display:grid;margin:0}
#hero .figure img{width:100%;height:auto;margin-bottom: 1rem;}
#hero .text{color: var(--dark)}
#hero .list li{color:var(--dark)}
#hero .list li::before{background-image:url(../images/check-dark.png)}
}
@media (min-width: 80rem) {
#hero{height:100vh;background-image:url(../images/hero.jpg);background-size:cover;background-position:top left;background-repeat:no-repeat;padding: clamp(40px, 4vw, 300px)}
}

/* ESPERIENZA ***************************/
#esperienza{position:relative;overflow:hidden;background-color: var(--dark)}
#esperienza,#esperienza::before,#esperienza::after,#esperienza *,#esperienza ::before,#esperienza ::after{box-sizing:border-box}
#esperienza::before{position:absolute;z-index:0;inset:0;content:"";background-image:url(../images/bg-pattern01.png);background-size:720px auto;
   background-position:bottom left;background-repeat:repeat;}
#esperienza .container{display:grid;position:relative;width:100%;max-width:90rem;margin-inline:auto;padding:clamp(3.75rem, 9vw, 15rem) 1rem clamp(2.5rem, 6.82vw, 10rem);gap:1rem;align-items:center}
#esperienza .content,.figure{min-width:0}
#esperienza .content{width:100%}
#esperienza .figure{display:grid;margin:0}
#esperienza .title{max-width:17ch;overflow-wrap:anywhere;color:var(--white);line-height:.98;text-wrap:balance}
#esperienza .subtitle{max-width:44rem;line-height:1.5;text-wrap:pretty;color: var(--white);font-weight: 20;}
#esperienza .text{max-width:40rem;margin-top:1.5rem;color:var(--white)}
#esperienza .image{display:block;width:100%;height:100%}
@media (min-width: 56rem) {
#esperienza .container{grid-template-columns:minmax(0,1.05fr) minmax(20rem,0.95fr)}
#esperienza .content{width:100%}
}
@media (min-width: 80rem) {
#esperienza .container{grid-template-columns:minmax(0,1.1fr) minmax(26rem,0.9fr)}
}
/* ESPERIENZA - decorazioni */
#esperienza .esperienza-deco{width: 100%;margin: auto;position: relative;display: flex;flex-direction: column;align-items: center;justify-content: center}
#esperienza .esperienza-deco div{font-size: min(.5vw, 0.7rem);width: 100%;height: 0em}
#esperienza .esperienza-deco div img{position:absolute;width:18%;max-width:34em;height:auto;right:-22px;z-index:0;top:-21px}
@media (max-width:768px){
   #esperienza .esperienza-deco div img{right:0;top:0}
}

/* COMPETENZE ***************************/
#competenze{position:relative;overflow:hidden;background-color: var(--dark)}
#competenze,#competenze::before,#competenze::after,#competenze *,#competenze ::before,#competenze ::after{box-sizing:border-box}
#competenze::before{position:absolute;z-index:0;inset:0;content:"";background-image:url(../images/bg-pattern01.png);background-size:720px auto;
   background-position:top left;background-repeat:repeat;}
#competenze .container{display:grid;position:relative;width:100%;max-width:90rem;margin-inline:auto;padding:clamp(2rem, 7.82vw, 7rem) 1rem clamp(2.5rem, 10vw, 15rem);gap:1rem;align-items:center;z-index:2}
#competenze .content,.figure{min-width:0}
#competenze .content{width:100%}
#competenze .figure{display:grid;margin:0}
#competenze .title{max-width:17ch;overflow-wrap:anywhere;color:var(--white);line-height:.98;text-wrap:balance}
#competenze .subtitle{max-width:44rem;line-height:1.5;text-wrap:pretty;color: var(--white);font-weight: 20;}
#competenze .categoria{margin-top:1rem;color:var(--primary);font-weight:700;font-size:18px;letter-spacing:5px}
#competenze .list{list-style:none;padding:0 .5rem;margin:0;font-family:'Poppins',sans-serif;letter-spacing:1px} #competenze .list li{position:relative;padding-left:32px;margin-bottom:18px;font-size:1rem;line-height:1.5;color:var(--white)} #competenze .list li::before{content:"";position:absolute;left:0;top:2px;width:20px;height:20px;background-image:url(../images/check.png);background-repeat:no-repeat;background-position:center;background-size:contain}
#competenze .image{display:block;width:100%;height:auto}
@media (min-width: 56rem) {
#competenze .container{grid-template-columns:minmax(0,1.05fr) minmax(20rem,0.95fr)}
#competenze .content{width:100%}
}
@media (min-width: 80rem) {
#competenze .container{grid-template-columns:minmax(0,1.1fr) minmax(26rem,0.9fr)}
#competenze .image{width:90%}
#competenze .list{list-style:none;padding:0 .5rem;margin:0;font-family:'Poppins',sans-serif;letter-spacing:1px;display:grid;grid-template-columns:repeat(2,max-content);gap:12px 28px;align-items:center}
#competenze .list li{position:relative;padding-left:32px;margin-bottom:0;font-size:1rem;line-height:1.5;color:var(--white)}
#competenze .list li::before{content:"";position:absolute;left:0;top:2px;width:20px;height:20px;background-image:url(../images/check.png);background-repeat:no-repeat;background-position:center;background-size:contain}
}
/* COMPETENZE - decorazioni */
#competenze .competenze-deco{width: 100%;margin: auto;position: relative;display: flex;flex-direction: column;align-items: center;justify-content: center}
#competenze .competenze-deco div{font-size: min(.5vw, 0.7rem);width: 100%;height: 0em}
#competenze .competenze-deco div img{position:absolute;width:18%;max-width:34em;height:auto;left:2%;z-index:0;bottom:20px}


/* CAROUSEL ********************************/
.carousel-window{overflow:hidden}
.carousel-track{display:flex;touch-action:pan-y pinch-zoom;margin-left:-1rem}
.carousel-item{flex:0 0 50%;min-width:0;padding-left:1rem} /* flex: 0 0 100%;  1 img per slide - occupa il 100% dello spazio */
.carousel-item img{width:100%;border-radius:12px;object-fit:cover}
.carousel-controls{position:relative;display:flex;justify-content:center;gap:1rem;margin-top:1.5rem} /* position:absolute;top:50%;left:50%;transform:translate(-50%,-50%); */
.btn-prev,.btn-next{padding:.5rem 1.5rem;background-color:#333;color:#fff;border:none;border-radius:20px;cursor:pointer;font-weight:700}
.btn-prev:hover,.btn-next:hover{background-color:#555}
